@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background: url('./IMG/back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Pretendard-Regular';
  font-weight: 200;
  font-size: 1.4rem;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  margin: 0;

  z-index: 0;
}


.card {
  border-radius: 15px;
  border: 3px solid white;
  height: 45vw;
  margin: -30vw 0 0 -23vw;
  max-height: 450px;
  max-width: 320px;
  min-height: 225px;
  min-width: 160px;
  position: absolute;
  transition: all ease-in 0.2s;
  width: 32vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 0;
}


.card-container {
  cursor: pointer;
  left: 60vw;
  position: absolute;
  top: 100vh;
  height: 45vw;
  width: 32vw;
  max-height: 450px;
  max-width: 320px;

  z-index: 0;
}


.card-card1 {
  transform: translate3d(-6%, 6%, 0);
  background-image: url('./IMG/7번방의선물.jpg');
  background-size: cover;
}

.card-card2 {
  transform: translate3d(-5%, 5%, 0);
  background-image: url('./IMG/memento.jpg');
  background-size: cover;
}

.card-card3 {
  transform: translate3d(-4%, 4%, 0);
  background-image: url('./IMG/말죽거리\ 잔혹사.jpg');
  background-size: cover;
}

.card-card4 {
  background-image: url('./IMG/어바웃타임.jpg');
  transform: translate3d(-3%, 3%, 0);
  background-size: cover;
}

.card-card5 {
  transform: translate3d(-2%, 2%, 0);
  background-image: url('./IMG/인터스텔라.jpg');
  background-size: cover;
}

.card-card6 {
  transform: translate3d(-1%, 1%, 0);
  background-image: url('./IMG/포레스트\ 검프.jpg');
  background-size: cover;
}

/* @keyframes glow {
  0% { box-shadow: 0 0 5px 2px rgba(250, 235, 72, 0); }
  50% { box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8); }
  100% { box-shadow: 0 0 5px 2px rgba(250, 235, 72, 0); }
} */

.card-container.spread {
  .card-card1, .card-card2, .card-card3, .card-card4, .card-card5, .card-card6 {
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), filter 0.5s ease;
    /* animation: glow 1s ease-in-out; */
  }

  .card-card1 {
    transform: rotate(-30deg) translate3d(-90%, -10%, 0);
    &:hover {
      transform: rotate(-30deg) translate3d(-90%, calc(-10% - 200px), 0) /*scale(1.05)*/;
      filter: drop-shadow(0 0 0.75rem #faeb48) brightness(1.2);
    }
  }

  .card-card2 {
    transform: rotate(-20deg) translate3d(-45%, -10%, 0);
    &:hover {
      transform: rotate(-20deg) translate3d(-45%, calc(-10% - 200px), 0) /*scale(1.05)*/;
      filter: drop-shadow(0 0 0.75rem #faeb48) brightness(1.2);
    }
  }

  .card-card3 {
    transform: rotate(-10deg) translate3d(0%, -10%, 0);
    &:hover {
      transform: rotate(-10deg) translate3d(0%, calc(-10% - 200px), 0) /*scale(1.05)*/;
      filter: drop-shadow(0 0 0.75rem #faeb48) brightness(1.2);
    }
  }

  .card-card4 {
    transform: rotate(0deg) translate3d(45%, -10%, 0);
    &:hover {
      transform: rotate(0deg) translate3d(45%, calc(-10% - 200px), 0) /*scale(1.05)*/;
      filter: drop-shadow(0 0 0.75rem #faeb48) brightness(1.2);
    }
  }

  .card-card5 {
    transform: rotate(10deg) translate3d(90%, -10%, 0);
    &:hover {
      transform: rotate(10deg) translate3d(90%, calc(-10% - 200px), 0) /*scale(1.05)*/;
      filter: drop-shadow(0 0 0.75rem #faeb48) brightness(1.2);
    }
  }

  .card-card6 {
    transform: rotate(20deg) translate3d(130%, -10%, 0);
    &:hover {
      transform: rotate(20deg) translate3d(130%, calc(-10% - 200px), 0) /*scale(1.05)*/;
      filter: drop-shadow(0 0 0.75rem #faeb48) brightness(1.2);
    }
  }
}

.asidewrap {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  display: block;
  visibility: hidden;
  opacity: 0;

  transition: 0.5s;
  z-index: 0;
}

.asidewrap.on {
  opacity: 1;
  visibility: visible;

  z-index: 9;
}

aside {
  width: 60vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
  position: absolute;

  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

aside.on {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);

  z-index: 10;
}


aside img {
  border: 3px solid white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
}

aside .txt {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  margin-left: 2vw;


  p {
    color: black;
    font-size: 16px;
    padding: 10px 20px 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    line-height: 1.5em;

  }
}

aside p.synopsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 16;
  line-height: 1.5em;
  max-height: 23em;
  white-space: normal;
  position: relative;
}